# Sonar Scanner parameters
SQ_SCANNER_NAME=scanner 
SQ_SERVER_NAME=localhost 
SQ_SERVER_URL=http://sonarqube.nasa.cpwr.corp:9000
SQ_GATE_NAME=RNU_Gate_UT
MF_SOURCE_FOLDER=MF_Source
TTT_FOLDER=tests   

# XLR parameters
XLR_TEMPLATE=A Release from Jenkins - RNU
XLR_USER=admin  

# ISPW parameters
ISPW_URL=http://cwcc.compuware.com:2020
ISPW_RUNTIME=ispw